Customer Support Ticket Automation.json
{
  "name": "Customer Support Ticket Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Customer Support Ticket Submission",
        "formDescription": "Please provide the details of your issue below. Our support team will review and assist you promptly.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Enter your full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "Enter your email address",
              "requiredField": true
            },
            {
              "fieldLabel": "Issue Category",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Billing"
                  },
                  {
                    "option": "Technical Support"
                  },
                  {
                    "option": "Account Management"
                  },
                  {
                    "option": "Product Inquiry"
                  },
                  {
                    "option": "Other"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Subject",
              "placeholder": "Brief summary of your issue",
              "requiredField": true
            },
            {
              "fieldLabel": "Detailed Description",
              "fieldType": "textarea",
              "placeholder": "Provide detailed information about your issue",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -352,
        192
      ],
      "id": "db788997-929e-4c09-b042-267b37a67812",
      "name": "On form submission",
      "webhookId": "c3960016-d218-4c84-98fa-45c925bd925a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        368
      ],
      "id": "49e08880-cf1c-4387-b57c-bfe109153bca",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NchtBD6sEH0vCYg4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"summary\": \"Summary based on the user info\",\n\"priority\": \"Low, Medium, or High\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        64,
        368
      ],
      "id": "920c2fd1-f0d8-4f46-9ff8-1de51a06c97c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appLePcivRmq0h9Xk",
          "mode": "list",
          "cachedResultName": "Customer Support Ticket",
          "cachedResultUrl": "https://airtable.com/appLePcivRmq0h9Xk"
        },
        "table": {
          "__rl": true,
          "value": "tbljKaFrvYHIvRSIX",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://airtable.com/appLePcivRmq0h9Xk/tbljKaFrvYHIvRSIX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "Email Address": "={{ $('On form submission').item.json['Email Address'] }}",
            "Issue Category": "={{ $('On form submission').item.json['Issue Category'] }}",
            "Subject": "={{ $('On form submission').item.json.Subject }}",
            "Detailed Description": "={{ $('On form submission').item.json['Detailed Description'] }}",
            "Summary": "={{ $('Analyze Customer Details').item.json.output.summary }}",
            "Assigned To": "={{ $json.assigned_to }}",
            "Priority": "={{ $('Analyze Customer Details').item.json.output.priority }}",
            "Status": "New",
            "Created At": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Issue Category",
              "displayName": "Issue Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Billing",
                  "value": "Billing"
                },
                {
                  "name": "Technical Support",
                  "value": "Technical Support"
                },
                {
                  "name": "Account Management",
                  "value": "Account Management"
                },
                {
                  "name": "Product Inquiry",
                  "value": "Product Inquiry"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Detailed Description",
              "displayName": "Detailed Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned To",
              "displayName": "Assigned To",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Billing Team",
                  "value": "Billing Team"
                },
                {
                  "name": "Tech Team",
                  "value": "Tech Team"
                },
                {
                  "name": "Product Inquiry Team",
                  "value": "Product Inquiry Team"
                },
                {
                  "name": "Account Team",
                  "value": "Account Team"
                },
                {
                  "name": "General Team",
                  "value": "General Team"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Resolved",
                  "value": "Resolved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        192
      ],
      "id": "f5fc4a10-678f-4ead-9334-f52ff632cf67",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "ltnUIGmNO1ebWIUt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields['Email Address'] }}",
        "subject": "Thank you for contacting Fuzion Tech Support",
        "emailType": "text",
        "message": "=Dear {{ $json.fields['Full Name'] }},\n\nThank you for reaching out to Fuzion Tech. We have received your support request regarding \"{{ $json.fields.Subject }}\" in the \"{{ $json.fields['Issue Category'] }}\" category. Our team is reviewing your details and will get back to you promptly.\n\nIf you have any additional information, please feel free to reply to this email.\n\nBest regards,\nThe Fuzion Tech Support Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        192
      ],
      "id": "1dee7e0d-50ef-470d-963a-24f75b1a44e7",
      "name": "Send Message to Customer",
      "webhookId": "9d2aaee8-4198-485b-9415-7dad9fbf6454",
      "credentials": {
        "gmailOAuth2": {
          "id": "sGGs6j9IqZ5eRl4L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nebeyoumusie11@gmail.com",
        "subject": "New Support Ticket Received - Immediate Attention Required",
        "emailType": "text",
        "message": "=Hello Fuzion Tech Team,\n\nA new support ticket has been submitted with the following details:\n\n    - Customer Name: {{ $('Create a record').item.json.fields['Full Name'] }}\n    - Email Address: {{ $('Create a record').item.json.fields['Email Address'] }}\n    - Issue Category: {{ $('Create a record').item.json.fields['Issue Category'] }}\n    - Subject: {{ $('Create a record').item.json.fields.Subject }}\n    - Detailed Description: {{ $('Create a record').item.json.fields['Detailed Description'] }}\n    - Summary: {{ $('Create a record').item.json.fields.Summary }}\n    - Priority: {{ $('Create a record').item.json.fields.Priority }}\n    - Assigned to: {{ $('Create a record').item.json.fields['Assigned To'] }}\n    - Status: {{ $('Create a record').item.json.fields.Status }}\n    - Created At: {{ $('Create a record').item.json.fields['Created At'] }}\n\nYou can view this ticket directly in Airtable here:\nhttps://airtable.com/appLePcivRmq0h9Xk/shrhSoEZ6qlBcKAjZ\n\nPlease review and prioritize this ticket accordingly. If there is an attachment included, refer to the linked file for additional context.\n\nTimely resolution of this request is critical to maintaining excellent customer service. Please ensure it is assigned and addressed promptly.\n\nThank you for your attention and dedication.\n\nBest regards,\nFuzion Tech Automated Support System",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        192
      ],
      "id": "c88cc79d-abc8-4e7e-801d-4a18ec5f5cf2",
      "name": "Send Message to Team",
      "webhookId": "a27543bf-f457-488b-8fdc-5ae6b1939b72",
      "credentials": {
        "gmailOAuth2": {
          "id": "sGGs6j9IqZ5eRl4L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Full Name: {{ $json['Full Name'] }}\nIssue Category: {{ $json['Issue Category'] }}\nSubject: {{ $json.Subject }}\nDetailed Description: {{ $json['Detailed Description'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a helpful, concise summarizer assistant. Your task is to create a clear and informative summary based on the user-provided details about a support ticket. Summarize the key points including Full Name, Issue Category, Subject, and Detailed Description. Additionally, analyze the information to determine the priority level of the ticket as exactly one of the following case-sensitive values: \"Low\", \"Medium\", or \"High\". Do not alter the capitalization.\n\nReturn your output strictly as a JSON object in the following format without any extra text or explanation:\n\n{\n\"summary\": \"Summary based on the user info\",\n\"priority\": \"Low, Medium, or High\"\n}\n\nMake the summary brief but comprehensive, capturing the essence of the user's issue clearly and professionally."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -128,
        192
      ],
      "id": "c21efe15-6298-4db7-b533-1d9c299b9696",
      "name": "Analyze Customer Details"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "231b53c8-0d0d-4c2d-ab5e-1f2fd53a0d14",
              "name": "assigned_to",
              "value": "={{ \n  (() => { \n    const category = $('On form submission').item.json['Issue Category']; \n    if (category === 'Billing') return 'Billing Team'.trim(); \n    if (category === 'Technical Support') return 'Tech Team'.trim(); \n    if (category === 'Product Inquiry') return 'Product Team'.trim(); \n    if (category === 'Account Management') return 'Account Team'.trim(); \n    return 'General Team'.trim(); \n  })() \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        192
      ],
      "id": "99b7e19b-e00c-4fe1-bebf-15668d059023",
      "name": "Map to Teams"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Analyze Customer Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Customer Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyze Customer Details",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send Message to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message to Customer": {
      "main": [
        [
          {
            "node": "Send Message to Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Customer Details": {
      "main": [
        [
          {
            "node": "Map to Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Teams": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd1ce7bc-f962-433a-97f6-8ec1b9fab191",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "840154ca8ff3822257170e4b1910defa5b76a2ee2e5b52ef94b6628e655db31a"
  },
  "id": "mWRAHdLta6x93OBz",
  "tags": []
}